.song-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  cursor: pointer;
  margin: 5px 0;
  transition: 0.5s all;
}

.song-container:hover {
  background-color: rgb(230, 230, 230);
  transition: 0.5s all;
}

.song-image {
  align-self: center;
}
